<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Memetube!</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1 class='title'><%= @header %></h1>

  <%= yield %>  

  </body>
</html>