
<form action='/new' method='get'>
  <button>Add Video</button>
</form>

<% if @outcome %>
  <% @outcome.each do |row|%>
    <p><%= "#{row['title']} has been added successfully" %></p>
  <% end %>
<% end %>

<div class='video-index'>
  <ul>
    <% if @videos %>
      <% @videos.each do |video| %>
        <li><a href="/<%= video['id'] %>"><%= video['title'] %></a></li>
      <% end %>
    <% end %>
  </ul>
</div>